<div class="relative">
  <!-- Nút chính -->
  <button
    (click)="toggleSubmenu()"
    class="sidebar-item flex justify-between w-full items-center"
  >
    <div class="flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"
        />
      </svg>
      <span>Đơn hàng</span>
    </div>

    <!-- Icon mũi tên quay xuống -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 transition-transform duration-200"
      [ngClass]="{ 'rotate-180': isOpen }"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"
      />
    </svg>
  </button>

  <!-- Sub-menu -->
  <div *ngIf="isOpen" class="ml-4 mt-2 space-y-1">
    <a
      routerLink="/dashboard/order"
      routerLinkActive="active"
      class="sidebar-item flex items-center gap-2 mb-1"
    >
      Chờ duyệt
    </a>
    <a
      routerLink="/dashboard/order-approved"
      routerLinkActive="active"
      class="sidebar-item flex items-center gap-2"
    >
      Hoàn thành
    </a>
  </div>
</div>
